<div class="sidebar">
  <!--sidebar-sticky-->
  <div class="sidebar-about">
    <h1>
      <a href="{{ site.baseurl }}">
        {{ site.title }}
      </a>
    </h1>
    <!--<p class="intro">{{ site.tagline }}</p>-->
  </div>
  <nav class="sidebar-nav">
    {% for item in site.data.nav %}
    <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ item.title | escape }}</a></li>
    {% endfor %}
  </nav>
  <p class="sidebar-nav">&copy; 2019.<br>
</div>
