---
title: Archive
layout: default
---

<div class="posts">
  <div class="post">
  <h1 class="post-title">Blog</h1>
  <span class="post-date">2017-{{ 'now' | date: '%Y' }}</span>
  <p>Wide ranging thoughts and opinions, from fonts to work culture. Updated erractically and infrequently. </p>
  </div>
 
  {% for post in site.posts %}
    <h2 class="archive-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% endfor %}
  </div>
</div>